<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>

    <!-- Content -->
    <div class="main content">
        <div class="info">
            <h2 class="about">What is Banana For Scale?</h2>
            <p>Ever wonder how a 90cm x 170cm x 90cm french-door refrigerator looks like next to a banana? Wonder no more.</p>
            <p>Just enter the desired size and submit to render the scene.</p>    
        </div>
        
        <form id="index-form"action="/render" method="POST">
            <select name="type" id="geometry-select">
                <option value="box">Box</option>
                <option value="sphere">Sphere</option>
            </select>

            <div id="container">
                
            </div>
        </form> 
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const xhr = new XMLHttpRequest();
        const container = document.getElementById('container');
        const select = document.getElementById('geometry-select');

        xhr.onload = function(){
            container.innerHTML = "";
            if(this.status === 200){
                container.innerHTML = xhr.responseText;
            }
            else{
                container.innerHTML = `<p>You done fucked it up</p>`;
            }
        };

        // event listener that calls the renderForm function
        select.addEventListener('change', () => {
            renderForm();
        });

        // function to render the form
        const renderForm = () => {
            const fileName = `forms/${select.value}.ejs`;
            console.log(fileName);

            xhr.open('get', fileName);
            xhr.send();
        };

        // initial call to render the form
        renderForm();
        
    </script>

</body>
</html>