<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>

    <!-- Content -->
    <div class="main content">
        <div class="info">
            <h2 class="about">What is Banana For Scale?</h2>
            <p>Ever wonder how a 90cm x 170cm x 90cm french-door refrigerator looks like next to a banana? Wonder no more.</p>
            <p>Just enter the desired size and submit to render the scene.</p>    
        </div>
        
        <form id="index-form" action="/render" method="POST">
            <select name="type" id="geometry-select">
                <option value="box">Box</option>
                <option value="sphere">Sphere</option>
            </select>

            <div id="container">
                
            </div>
        </form> 
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const container = document.getElementById('container');
        const select = document.getElementById('geometry-select');

        switch(select.value){
            case 'box':
                container.innerHTML = 
                    `<label for="width">Width (cm):</label>
                    <input type="text" id="width" name="width" required>
                    <label for="height">Height (cm):</label>
                    <input type="text" id="height" name="height" required> 
                    <label for="depth">Depth (cm):</label>
                    <input type="text" id="depth" name="depth" required>
                    <button>Render</button>`;
                break;
            case 'sphere':
                container.innerHTML = 
                    `<label for="radius">Radius (cm):</label>
                    <input type="text" id="radius" name="radius" required>
                    <label for="width_segments">Width Segments:</label>
                    <input type="text" id="width_segments" name="width_segments" required> 
                    <label for="height_segments">Height Segments:</label>
                    <input type="text" id="height_segments" name="height_segments" required>
                    <button>Render</button>`;
                break;
            default:
                container.innerHTML = `<p>You done fucked up </p>`;
        }
    </script>
        

</body>
</html>